ul,
ol {
  list-style: none;
}

body {
  background-image: url(../img/arbol.png);
  background-repeat: no-repeat;
}

header {
  background-color: rgb(0, 255, 255);
}

main {
  /* background-image: url(../img/arbol.png);
  background-repeat: no-repeat; */
  /* background-position: top right 40px;
  background-size: cover; */
  /* background-attachment: fixed; */
  background-color: rgba(255, 0, 0, .5);
  /* opacity: .5; */
}
