* {
  box-sizing: content-box;
}

body {
  background-color: gray;
}
.containter {
  color: white;
  background-color: lightyellow;
  border: 1px solid black;
  padding: 0.5em;
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* flex-flow: row nowrap; */
  /* justify-content: flex-start; */
  /* min-height: 75vh; */
  /* align-items: center; */
  /* align-content: center; */
  /* gap: 1em 2em; */
}
.item {
  border: 1px solid black;
  padding: 0.5em;
  margin: 0.5em;
  flex-shrink: 1;
}
.item-1 {
  background-color: blue;
  order: 1;
  /* flex-grow: 1; */
}
.item-2 {
  background-color: green;
  width: 100px;
}
.item-3 {
  background-color: red;
  height: 100px;
  /* flex-grow: 1; */
}
.item-4 {
  background-color: violet;
  width: 200px;
  /* align-self: stretch; */
}
.item-5 {
  background-color: brown;
  width: 150px;
  height: 100px;
}
.item-6 {
  background-color: goldenrod;
  width: 250px;
  order: -1;
  flex-shrink: 0;
}
