body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

h1 {
  border: 0.5em solid saddlebrown;
  border-radius: 5%;
  padding: 10px;
  width: 100px;
  height: 100px;
  outline: 2px orangered solid;
  outline-offset: -20px;
}

header {
  margin: auto;
  background-color: antiquewhite;
  width: 250px;
}

p {
  border: 1px solid goldenrod;
}
